<div id="sitemenu-icon">
	<span class="line1"></span>
	<span class="line3"></span>
</div>
<div class="navtop">
	<ul>
		<li id="logoholder">
			<%= image_tag 'jplogo.jpg', :class => "logoimage" %>
		</li>
		<li id="quotebutton" class="jpblue-color selectedtab">
			<span>Enroll Today</span>
			<div class="circletop jpblue"></div>

		</li>

	</ul>

</div>
<div id="wrapperform">
	<div id="hiddenform" class="">
		<div id="wufoo-z1yyisb01g70zdy">
	Fill out my <a href="https://ccevans.wufoo.com/forms/z1yyisb01g70zdy">online form</a>.
	</div>

	<script>
		$("#saveForm").click(function(){
			$("#hiddenform").removeClass("active");
		});
	</script>

	<script type="text/javascript">var z1yyisb01g70zdy;(function(d, t) {
	var s = d.createElement(t), options = {
	'userName':'ccevans',
	'formHash':'z1yyisb01g70zdy',
	'autoResize':true,
	'height':'426',
	'async':true,
	'host':'wufoo.com',
	'header':'show',
	'ssl':true};
	s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
	s.onload = s.onreadystatechange = function() {
	var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
	try { z1yyisb01g70zdy = new WufooForm();z1yyisb01g70zdy.initialize(options);z1yyisb01g70zdy.display(); } catch (e) {}};
	var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
	})(document, 'script');</script>
			
	</div>
</div>

<section id="mainlayout" class="jpblue">
	<div id="quotelayout" class="">
		<div class="header1">
			<span class="bigword">Ready</span></br>
			to protect your</br>
			family and yourself?
		</div>

		<div class="header2">
			Apply or Renew</br>
			<span class="smallword">your health coverage in 2016.</span>

			<div id="qqbutton" class="regbutton">
				Enroll Today
			</div>

		</div>

		<div class="deadlinebox">
		<div class="deadlinebox2">
			<div class="deadline">
				Registration open on</br>
				<span class="deadlinedate">Nov 1, 2015</span>
			</div>
				<div class="dividerline"></div>
				
				<div class="dateremaining">
					<span id="wrapper2">
				<span id="clock1"></span>
				</span> remaining
				</div>

				
		</div>

			


			</div>
		</div>
	<div id="handslayout" class="nodisplay">
		<div class="handsbox">
			<div class="handsheader">#HANDSinHEALTH</div>
			<div class="handspara">
				Join JP Health in empowering other families in getting the right health protection.
			</div>

			<div id="picbutton" class="regbutton2">
				Submit Your Pic
			</div>
		</div>

		<div class="handsgallery">

			<div class="handspic">
				<%= image_tag 'hands1.jpg', :class => "galleryimage" %>
			</div>

			<div class="handspic">
				<%= image_tag 'hands2.jpg', :class => "galleryimage" %>
			</div>
			<div class="handspic">
				<%= image_tag 'hands3.jpg', :class => "galleryimage" %>
			</div>			
			<div class="handspic">
				<%= image_tag 'hands4.jpg', :class => "galleryimage" %>
			</div>
			<div class="handspic">
				<%= image_tag 'hands5.jpg', :class => "galleryimage" %>
			</div>
			<div class="handspic">
				<%= image_tag 'hands6.jpg', :class => "galleryimage" %>
			</div>
			<div class="handspic">
				<%= image_tag 'hands7.jpg', :class => "galleryimage" %>
			</div>	
			<div class="handspic">
				<%= image_tag 'hands8.jpg', :class => "galleryimage" %>
			</div>
			<div class="handspic">
				<%= image_tag 'hands9.jpg', :class => "galleryimage" %>
			</div>
			<div class="handspic">
				<%= image_tag 'hands10.jpg', :class => "galleryimage" %>
			</div>									
		</div>
		

	</div>

	<div id="learnlayout" class="nodisplay">
		<div class="learnbox">
			<div class="learnheader">
				<span class="bigword2">Over 9 Million </span></br>
				More Americans Gain</br>
				Health Insurance in 2014 <span class="smallword2">(compared to 2013)</span>

			</div>
			<div class="learnpara">
				Since Obamacare, getting health insurance is easier and more affordable.  Learn more and share with others. <%= link_to "Make sure you got the right coverage at the cheapest price", "#", class: "learnlink" %>

			</div>

		<div class="learnquizbox">
			<div class="learnquiz">
				<div class="learninfo">


				</div>
				<div class="answerbox">
					<div class="truebox">
						TRUE
					</div>
					<div class="falsebox">
						FALSE
					</div>

				</div>

				<div class="learnmorebox">
					<div class="sharebox">
						Share
					</div>


				</div>

					<div class="learncountbox">
					1/10

					</div>




			</div>





		</div>




	</div>



</section>

<div class="navfooter">
	<div class="checklist">
		<div id="circlelist1" class="circletop"></div>
		<div id="circlelist2" class="circletop"></div>
		<div id="circlelist3" class="circletop"></div>

	</div>

	<div class="contacttoday">
		Contact Today

	</div>

</div>

<script type="text/javascript">
	$('#wrapper2').countdown('2015/10/31', function(event) {
	$('#clock1').html(event.strftime('%-D day%!d'));
	});
</script>

<script>

	$("#qqbutton").click(function(){
		$("#hiddenform").addClass("active");
		$("#wrapperform").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
	});
	$("#sitemenu-icon").click(function(){
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
	});

	$("#saveForm").click(function(){
		$("#hiddenform").removeClass("active");
	});

	$("#quotebutton").click(function(){
		$("#quotelayout").removeClass("nodisplay");
		$("#handslayout").addClass("nodisplay");
		$("#learnlayout").addClass("nodisplay");
		$('#mainlayout').addClass("jpblue");
		$('#mainlayout').removeClass("jppink");
		$('#mainlayout').removeClass("jplightblue");
		$('#quotebutton').addClass("selectedtab");
		$('#handsbutton').removeClass("selectedtab");
		$('#learnbutton').removeClass("selectedtab");
		$('#quotebutton').addClass("jpblue-color");
		$('#handsbutton').removeClass("jppink-color");
		$('#learnbutton').removeClass("jplightblue-color");
	});
	$("#handsbutton").click(function(){
		$("#quotelayout").addClass("nodisplay");
		$("#handslayout").removeClass("nodisplay");
		$("#learnlayout").addClass("nodisplay");
		$('#mainlayout').removeClass("jpblue");
		$('#mainlayout').addClass("jppink");
		$('#mainlayout').removeClass("jplightblue");
		$('#quotebutton').removeClass("selectedtab");
		$('#handsbutton').addClass("selectedtab");
		$('#learnbutton').removeClass("selectedtab");
		$('#quotebutton').removeClass("jpblue-color");
		$('#handsbutton').addClass("jppink-color");
		$('#learnbutton').removeClass("jplightblue-color");
	});
	$("#learnbutton").click(function(){
		$("#quotelayout").addClass("nodisplay");
		$("#handslayout").addClass("nodisplay");
		$("#learnlayout").removeClass("nodisplay");
		$('#mainlayout').removeClass("jpblue");
		$('#mainlayout').removeClass("jppink");
		$('#mainlayout').addClass("jplightblue");
		$('#quotebutton').removeClass("selectedtab");
		$('#handsbutton').removeClass("selectedtab");
		$('#learnbutton').addClass("selectedtab");
		$('#quotebutton').removeClass("jpblue-color");
		$('#handsbutton').removeClass("jppink-color");
		$('#learnbutton').addClass("jplightblue-color");
	});

</script>